body{
    background-color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
* {
    margin: 0;
    padding: 0;
  }
  body {
    width: 100%;
    background-color: beige;
  }
  #logo{
    text-align: center;
    
  }
  #logo img{
    
    width: 200px;
  }
  nav {
    width: 100%;
    height: 50px;
    background: #ffd91c;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    justify-content: space-between;
  }
  nav  a {
    text-decoration: none;
    color: rgb(46, 29, 29);
    font-size: 20px;
    font-weight: bolder;
    height: 100%;
    padding: 0px 30px 0px 30px;
    display: flex;
    align-items: center;
}
#sortbycategory{
    background-color: #ffd91c;
    border: none;
}
#sortbyprice{
    background-color: #ffd91c;
    border: none;
}
#sortbyprice option{
    background-color: rgb(214, 235, 247);
}
#sortbycategory option{
    background-color: rgb(214, 235, 247);
    
}

#main1{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    text-align: center;
    
}
.card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.card img{
    width: 200px;
}
.btn{
  
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    
}

.btn > button{
  width: 80px;
  height: 30px;
  border-radius:10px;
  background-color: #ecdb83;
}

.btn > button:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

