* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    height: 5rem;
    align-items: center;
    background-color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.web {
    margin-left: 5%;
}

.web>a>img {
    width: 15%
}

.search-div {
    display: flex;
    width: 20%;
    height: 1.875rem;
    align-items: center;
    justify-content: flex-start;
    /* border-radius: 3px; */
    border-radius: 0.188rem;
    border: 1px solid rgb(238, 238, 238);
    margin-left: -30%;

}

#searchpng {
    width: 4%;
    margin: 0.313rem;
    opacity: 0.5;
    color: coral;
    margin-left: 20%;
    cursor: pointer;
}

.search-div input {
    width: 70%;
    border: none;
    margin-left: 2%;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

#short-links {
    margin-left: 5%;
    color: #616161;
    /* line-height: 17px; */
    line-height: 1.063rem;
    /* font-size: 12px; */
    font-size: 0.75rem;
    font-family: 'Roboto', sans-serif;
    border-right: 1px solid #d4d4d4;
    padding-right: 0.563rem;
    padding-left: 0.563rem;
    cursor: pointer;
    display: flex;
}

.location,
.Preschools,
.Support,
.Trackorder,
.parenting,
.my-account,
.shortlist {
    border-right: 1px solid #d4d4d4;
    padding-right: 0.563rem;
    padding-left: 0.563rem;
}

.location:hover,
.Preschools:hover,
.Support:hover,
.Trackorder:hover,
.parenting:hover,
select:hover,
.shortlist:hover {
    cursor: pointer;
    text-decoration: underline;
}

select,
option {
    border: none;
}

.svg {
    height: 0.75rem;
    margin-left: 10px;
}

.cart {
    height: 0.75rem;
    margin-left: 0.625rem;
}

.category {
    /* height: 45px; */
    height: 2.813rem;
    display: flex;
    background-color: #ffd91c;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    color: #575757;
    line-height: 1.25rem;
}

.all-cat {
    margin-left: 5%;
}

.all-cat-1 {
    margin-left: 1%;
}

.blue {
    background-color: rgb(0, 158, 220);
    padding: 0.8%;
}

a {
    text-decoration: none;
    color: #575757;
}

.blue a {
    color: white;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    /* margin: 100px auto 0; */
    margin: 6.25rem auto 0;
}

.slideshow-container img {
    /* height: 400px; */
    height: 25rem;
}

.mySlides {
    display: none;
}

img {
    display: block;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    /* padding: 16px; */
    padding: 1rem;
    /* margin-top: -22px; */
    margin-top: -1.375rem;
    color: white;
    font-weight: bold;
    /* font-size: 18px; */
    font-size: 1.125rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 0.625rem;
    width: 0.625rem;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

<<<<<<< HEAD .center-quote {
    padding-top: 5%;
    width: 80%;
    margin: auto;
}

.center-text {
    text-align: center;
    padding-top: 3.125rem;
    color: white;
}

.center-quote span {
    display: flex;
    justify-content: center;
    font-weight: 550;
    /* font-size: 18px; */
    font-size: 1.125rem;
}

.img-block {
    margin: 5% 7%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 1.5%;

}

.img-block img {
    width: 100%;
    height: 90%;
    border-radius: 1.5%;
    background-color: white;
    padding-bottom: 5%;
}

h5 {
    float: right;
    color: red;
}

h4 {
    color: #bbb;
}

.spring {
    width: 90%;
    height: 17.5rem;
    margin: auto;
    margin-top: 5rem;
}

.spring>img {
    width: 100%;
}

.spring-pic {
    width: 90%;
    height: 37.5rem;
    margin: auto
}

.spring-pic>img {
    width: 100%
}

.spring-check {
    width: 90%;
    height: 150px;

    margin: auto;
    margin-top: 5%;
}

.spring-check>img {
    width: 100%;
}

#box {
    width: 100%;

    height: 9.375rem;
    margin: auto;

    margin-top: 0.625rem;
    display: flex;

}

#box>div {
    width: 6.875rem;
    height: 6.875rem;
    margin: auto
}

#box>div>img {
    width: 100%;
    height: 6.25rem;
}

.infant {
    width: 90%;
    height: 7.5rem;
    border: 1px solid red;
    margin: auto;
    margin-top: 10%;
}

.infant>img {
    width: 100%;
}

#infant-pic {
    width: 90%;
    height: 21.875rem;
    border: 1px solid red;
    margin: auto;
    display: flex;
}

#infant-pic>div {
    width: 13.125rem;
    height: 15.625rem;
    border: 1px solid red;
    margin: auto;
    border-radius: 90px;
}

#infant-pic>div>img {
    width: 80%;
}