* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    height: 80px;
    align-items: center;
    background-color: white;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.web {
    margin-left: 5%;
}
.web>a>img{
width:15%
}
.search-div {
    display: flex;
    width: 20%;
    height: 30px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 3px;
    border: 1px solid rgb(238, 238, 238);
    margin-left: -30%;
  }
  #searchpng {
      width: 4%;
      margin: 5px;
      opacity: 0.5;
      color: coral;
      margin-left: 20%;
      cursor: pointer;
  }
  .search-div input {
      width: 70%;
      border: none;
      margin-left: 2%;
  }
  input:focus, textarea:focus, select:focus {
      outline: none;
  }
  #short-links {
      margin-left: 5%;
      color: #616161;
      line-height: 17px;
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
      border-right: 1px solid #d4d4d4;
      padding-right: 9px;
      padding-left: 9px;
      cursor: pointer;
      display: flex;
  }
  .location, .Preschools, .Support, .Trackorder, .parenting,.my-account, .shortlist {
      border-right: 1px solid #d4d4d4;
      padding-right: 10px;
      padding-left: 9px;
  }
  .location:hover, .Preschools:hover, .Support:hover, .Trackorder:hover, .parenting:hover, select:hover, .shortlist:hover {
      cursor: pointer;
      text-decoration: underline;
  }
  .shortlist>div:nth-child(2)>img{
    width: 100px
  }

  select, option {
      border: none;
  }
  .svg {
      height: 12px;
      margin-left: 10px;
  }
  .cart {
      height: 12px;
      margin-left: 10px;
  }
  .category {
      height: 45px;
      display: flex;
      background-color: #ffd91c;
      align-items: center;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      color: #575757;
      line-height: 20px;
  }
  .all-cat {
      margin-left: 5%;
  }
  .all-cat-1 {
      margin-left: 1%;
  }
  .blue {
      background-color: blue;
      padding: 0.8%;
  }
  a {
      text-decoration: none;
      color: #575757;
  }
  .blue a {
      color: white;
  }

  .slideshow-container {
      max-width: 100%;
      position: relative;
      margin: 100px auto 0;
  }
  .slideshow-container img {
      height: 400px;
  }
  .mySlides {
      display: none;
  }
  img {
      display: block;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }
  
  .center-quote {
      padding-top: 5%;
      width: 80%;
      margin: auto;
  }
  .center-text {
      text-align: center;
      padding-top: 50px;
      color: white;
  }
  .center-quote span {
      display: flex;
      justify-content: center;
      font-weight: 550;
      font-size: 18px;
  }
  .img-block {
      margin: 5% 7%;
      display: grid;
      grid-template-columns: repeat(3, 33%);
      gap: 1.5%;

  }
  .img-block img {
      width: 100%;
      height: 90%;
      border-radius: 1.5%;
      background-color: white;
      padding-bottom: 5%;
  }
  h5 {
      float: right;
      color: red;
  }
  h4 {
      color: #bbb;
  }
 .spring{
    width:90%;
    height:280px;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 80px
 }
 .spring>img{
    width: 100%;
 }
 .spring-pic{
    width:90%;
    height:600px;
    /* border: 1px solid red; */
    margin:auto
 }
 .spring-pic>img{
    width:100%
 }
 .spring-check{
    width:90%;
    height:150px;
    /* border:1px solid red; */
    margin:auto;
    margin-top: 5%;
 } 
 .spring-check>img{
    width: 100%;
 }
 #box{
    width:100%;
    height:150px;
    margin:auto;
    /* border:1px solid red; */
    margin-top:10px;
    display: flex;

 }
 #box>div{
    width:110px;
    height:110px;
    /* border: 1px solid red; */
    /* margin:auto; */
    margin:auto
 }
 #box>div>img{
    width:100%;
    height:100px
 }
 .infant{
    width:90%;
    height:120px;
    /* border:1px solid red; */
    margin:auto;
    margin-top: 10%;
 } 
 .infant>img{
    width: 100%;
 }
 #infant-pic{
    width:90%;
    height:350px;
    /* border: 1px solid red; */
    margin:auto;
    display: flex;
 }
 #infant-pic>div{
    width:210px;
    height:250px;
    /* border: 1px solid red; */
    margin:auto;
    border-radius: 90px;
 }
 #infant-pic>div>img{
    width: 80%;
    margin-left: 10px;
 }
 .age{
    width:90%;
    height:120px;
    /* border: 1px solid red; */
    margin:auto
 }
 .age>img{
    width:100%
 }
 .age-pic{
    width:90%;
    height:150px;
    margin:auto;
    /* border:1px solid red; */
    margin-top:10px;
    display: flex;

 }
 .age-pic>div{
    width:110px;
    height:90px;
    /* border: 1px solid red; */
    /* margin:auto; */
    margin:auto
 }
.age-pic>div>img{
    width:100%;
    /* height:100px */
 }
 .belove{
    width:90%;
    height:120px;
    /* border: 1px solid red; */
    margin:auto
 }
 .belove>img{
    width: 100%;
 }
 .brand{
    width:90%;
    height:330px;
    /* border: 1px solid red; */
    margin:auto;
    margin-top:70px;
    /* display:flex */
    

 }
 .brand{ 
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 2px;
 }
 
 .brand>div{
    width:130px;
    height:80px;
    /* border: 1px solid red; */
    /* margin:auto */
    border-radius: 5px;
    /* background-color: rgb(247, 245, 245); */
}  
.brand>div>img{
    width: 90%;
}
 #elegant{
    width:90%;
    height:120px;
    /* border: 1px solid red; */
    margin:auto
 }
 #elegant>img{
    width:100%;
 }
 .elegant-pic{
    width:90%;
    height:500px;
    /* border: 1px solid red; */
    margin:auto;
    /* margin-top: 50px; */
    display:flex
 }
 .elegant-pic>div>img{
    width:100%
 }
 .acc{
    width:90%;
    height:120px;
    /* border: 1px solid red; */
    margin:auto
 }
 .acc>img{
    width: 100%;
 }
 
#just{
    width:90%;
    height:120px;
    /* border: 1px solid red; */
    margin:auto;
    display: flex;

}
#just>div{
    width: 120px;
    height:80px;
    /* border: 1px solid red; */
    margin-bottom: 20px;
    
}
#just>div:nth-child(4){
    margin-right: 110px;
}
#just>div>img{
    width: 120%;
}
#Baby{
    width: 90%;
    height: 150px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 40px;
}
#Baby>img{
    width:100%
}
#diaper{
    width:90%;
    height: 80px;
    /* margin:auto; */
    /* border: 1px solid red; */
    margin-top: 70px;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 0px;
    
}
#diaper img{
    width:100%
}
#diaper>div{
width:110px;
height:150px;
/* border: 1px solid red; */
margin:auto;
margin-left: 50px;
margin-top: -60px;
}
#diaper>div>img{
    width:100%
}
.more{
    margin-top: 50px;
}
.bath{
   width: 90%;
   height: 60px;
   margin: auto;
   /* border: 1px solid red; */
   margin-top: 50px;
}
.bath-pic{
    width:90%;
    height:150px;
    margin: auto;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 0px;
    
}
.bath-pic>div{
    width:120px;
    height:140px;
    /* border:1px solid red; */
    margin: auto;  
    margin-bottom: 50px;
}
/* .bath-pic>div>img{
    width: 100%;
} */
.bath-pic>div>a>img{
    width: 100%;
   
}
               /* foooooooooter */

.footer-main{
    display: flex;
    width: 100%;
    height: 800px;
    background-color: #D9F3F4;
    margin:auto;
    margin-top: 50px;
}


/* #footer{
    width: 90%;
    margin: auto;
    display: flex;
    
}

#div1{
    display: flex;
    margin-bottom: 30px;
    margin-top: 40px;
}

#div1>img{
    margin-right: 10px;
}

#footer img{
    width: 150px;
    height: 50px;
}
#social{
    margin-top: 60px;

}

#social>i{
margin-right: 40px;
} */

  /* 2nd part     */


  .last{
    width:100%;
    height:660px;
    /* border:1px solid red; */
    color: #636363;
    /* background-color: #f0f0f0; */
    }
    
    
    #cont{
    width:100%;
    height:160px;
    /* border:1px solid red; */
    display: flex;    
    }
    
    #lang{
    margin-top: 20px;
    margin-left: 20px;
    }
    #lang>a:nth-child(1){
    margin-top: 10px;
    
    }
    #cont2{
    width:100%;
    height:370px;
    /* border:1px solid red; */
    display:flex;
    
    }
    #cont3{
    width:100%;
    height:130px;
    /* border:1px solid red */
    }
    #Account{
    margin-left: 240px;
    /* margin-top: 10px; */
    }
    #cont>div>a{
    text-decoration: none;
    color: #636363;
    }
    #cont2>div>a{
    text-decoration: none;
    color: #636363;
    }
    #cont3>div>a{
    text-decoration: none;
    color: #636363;
    }
    #Support{
    margin-left:240px;
    }
    #Connect{
    margin-left:240px;
    }
    #Off{
    margin-left:20px; 
    }
    #Comp{
    margin-left:220px; 
    }
    #Part{
    margin-left:205px; 
    }
    #Res{
    margin-left:240px; 
    }
    #bot{
    margin-top: 40px;
    }
    #cont3>a:nth-child(1){
    margin-left: 20px;
    }
    #cont3>a:nth-child(2){
    margin-left: 50px;
    }
    #cont3>a:nth-child(3){
    margin-left: 50px;
    }
    #cont3>a{
    
    text-decoration: none;
    color: #636363;
    
    }
    /* #cont3>a{
    text-decoration: underline;
    } */
    #bot>a:nth-child(1){
    margin-left: 20px;
    
    }
    #bot>a:nth-child(2){
    margin-left: 50px;
    }
    #bot>a:nth-child(3){
    margin-left: 50px;
    }
    #bot>a:nth-child(4){
    margin-left: 50px;
    }
    #bot>a:nth-child(5){
    margin-left: 50px;
    }
    
    #cont3 a:hover{
    text-decoration:underline
    }
    #cont2 a:hover{
    text-decoration: underline;
    }
    #cont a:hover{
    text-decoration: underline;
    }