* {
    scrollbar-width: thin;
    scrollbar-color: #3BD787 #E4EBE6;
  }
  *::-webkit-scrollbar {
    width: 5px;
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #E4EBE6;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #c21e1e00;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #FF0000;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #ff0000;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #a3000000;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #a3929800;
  }